html,
body,
p,
h1,
h2,
span {
  font-family: $font;
}

html,
body {
  display: grid;
  place-self: center;
  @media #{$media-desktop} {
    justify-self: start;
  }
}

.mobile-only {
  @media #{$media-desktop} {
    display: none;
  }
}

.desktop-only {
  @media #{$media-mobile} {
    display: none;
  }
}
