.about {
  @media #{$media-desktop} {
    display: flex;
    flex-direction: row;
    max-width: 1349px;
  }
  &__text {
    padding: 50px 30px;
    @media #{media-desktop} {
      max-width: 460px;
    }
  }
  &__image-container {
    display: flex;
    align-items: center;
    max-width: 375px;
    @media #{media-desktop} {
    }
  }

  &__image {
    max-width: 375px;
    @media #{media-desktop} {
    }
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__content {
    @extend %text-content;
  }
}
