.description {
  display: flex;
  flex-direction: column;
  @media #{$media-desktop} {
    flex-direction: row;
  }

  &__image-container {
    position: relative;
    display: flex;
    max-width: 375px;
    @media #{$media-desktop} {
      width: 100%;
      max-width: 750px;
      max-height: 476px;
    }
  }

  &__image {
    width: 100%;
    max-width: 375px;
    height: 360px;

    @media #{$media-desktop} {
      max-width: inherit;
      max-height: 534px;
    }
  }
  &__image img.dark {
    filter: brightness(50%);
  }

  &__image--desktop {
    @media #{$media-desktop} {
      max-width: inherit;
    }
  }

  &__arrow-container {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;

    @media #{$media-desktop} {
      bottom: -1px;
      right: -147px;
    }
  }

  &__arrow-left {
    margin: 0 -1px;
  }

  &__arrow-left,
  &__arrow-right {
    display: grid;
    place-self: center;
    cursor: pointer;
    border-radius: 2px;
    padding: 16px 20px;
    background: $black;
    @media #{$media-desktop} {
      padding: 25px 30px;
    }
  }

  &__arrow-left:hover,
  &__arrow-right:hover {
    background: $very-dark-gray;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 25px;

    @media #{$media-desktop} {
      min-width: 300px;
      max-width: 540px;
      padding: 60px 80px 100px 80px;
      margin: 0;
    }
  }

  &__text.dark {
    background: darken($white, 50%);
  }

  &__title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  &__content {
    @extend %text-content;
  }

  &__content.dark {
    color: $black;
  }

  &__shop-wrapper {
    margin: 30px 0;
  }

  &__shop {
    @extend %shop-link;
  }

  &__shop-arrow {
    margin-left: 1.5rem;
  }
}
