.header {
  position: absolute;
  top: 45px;
  left: 25px;
  z-index: 1;

  display: flex;

  @media #{$media-desktop} {
    left: 35px;
    flex-direction: row-reverse;
  }

  &__logo {
    margin-left: 105px;
    height: 14px;

    @media #{$media-desktop} {
      margin-left: 25px;
    }
  }

  &__menu {
    @media #{$media-desktop} {
    }
  }

  &__menu.active {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: -25px;
    display: flex;
    align-items: center;
    min-width: 320px;
    width: 375px;
    height: 100px;
    background: $white;
  }
}

.menu__close-btn {
  margin-left: 25px;
  cursor: pointer;
  display: none;
  &.active {
    display: inline-block;
  }
}

.menu__list {
  margin-left: 40px;
  display: flex;
}

.item {
  &__link {
    @extend %menu-link;
  }
}
